#inproduct-translation-dialog {
    padding: 0;
    /*padding-top: 0;*/
    position: absolute;
    bottom: 50px;
    left:50px;
    width: 600px;
    height: 300px;
    /*background-color: #FFFFDD;*/
    background-color: #FFF;
    /*border: solid 1px #F7DF92;*/
    border: solid 1px #bbb;
    z-index: 100000;
    overflow: visible;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    /*box-shadow: 5px 5px 10px #000;*/
    /*-moz-box-shadow: 5px 5px 10px #000;*/
    /*-webkit-box-shadow: 5px 5px 10px #000;*/

    /*box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);*/
    /*-moz-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);*/
    /*-webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);*/

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

#inproduct-translation-dialog .translation-dialog-head {
    position: relative;
    /*width: 100%;*/
    /*height: 30px;*/
    /*line-height: 30px;*/
    text-align: left;
    color: #333333;
    background-color: #f5f5f5;
    /*background-color: #F7DF92;*/
    /*font-weight: bold;*/
    font-size: 20px;
    cursor: move;
    /*padding-left: 1em;*/
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 50px;
    height: 1em;
    border-bottom: 1px solid #dddddd;
}

.translations-table {
    left: 0;
    right: 0;
    top: 50px;
    margin-bottom: 45px;
    margin-top: 36px;
    bottom: 1em;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    /*margin-left: 1em;*/
}

.translations-table td {
    cursor: pointer;
}

.pointer {
	cursor: pointer;
}

.translation-panel {
    display: none;
    border-top: 1px solid #dddddd;
    background-color: #ffffff;
    position: absolute;
    width: 1%;
    right: 0;
    bottom: 1em;
    top: 20px;
	margin-bottom: 41px;
    margin-top: 36px;
}

.translation-panel-row {
    font-size: 14px;
    position: relative;
    height: 20px;
    padding-bottom: 3px;
}

.translation-panel-label {
    position: absolute;
    left: 20px;
    width: 140px;
    text-align: right;
    color: #707070;;
}

.translation-panel-value {
    color: #333;
    position: relative;
    left:0;
    /*width: 100%;*/
    padding-left: 170px;
    padding-right: 20px;
    overflow: hidden; text-overflow: ellipsis;
    height: 20px;
    white-space: nowrap;
}

.translation-panel-edit {
    color: #333;
    position: relative;
    left:0;
    /*width: 100%;*/
    padding-left: 170px;
    padding-right: 20px;
    /*overflow: hidden; */
    /*text-overflow: ellipsis;*/
    /*height: 20px;*/
    /*white-space: nowrap;*/
}

.translationeditwrap {
    position: absolute;
    top: 68px;
    left: 170px;
    right: 20px;
    bottom: 52px;
}

.translationbuttonswrap {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 170px;
    text-align: left;
    height: 22px;
    line-height: 22px;
}


#translation-dialog-statusbar {
	background-color: #f5f5f5;
	position: absolute;
	bottom: 0;
    left: 0;
    right: 0;
	/*margin-top: 10px;*/
	/*padding-left: 10px;*/
	padding: 20px;
	/*width: 100%;*/
	/*height: 1em;*/
    color: #333333;
    border-top: 1px solid #dddddd;
    /*line-height: 20px;*/
}

#translateheader {
    font-weight: bold;
    position: absolute;
    top: 0;
    line-height: 20px;
    left: 10px;
    width: 100%;
    overflow: hidden;
	margin-top: 5px;
	margin-bottom: 5px;
}

#translatedkey {
	font-weight: normal;
}

#originalmessage {
}

#translatedmessageedit {
    width: 100%;
    height: 100%;
    resize: none;
}

.translationrowzebra {
    /*background-color: #fff;*/
}

.translatedmessagekey {
    text-align: right;
    padding-right: 1em;
    color: #888;
    display: none;
}

.translatedmessagevalue {
    width:100%;
    padding-left: 1em;
}

.translatedmessagearrow {
    background-repeat: no-repeat;
    background-position: left center;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    padding-right: 2px !important;
    padding-left: 0 !important;
}

.translatedmessagevalue h1, .translatedmessagevalue h2, .translatedmessagevalue h3, .translatedmessagevalue h4 {
    font-weight: normal;
    font-size: inherit;
}

.localtranslation {
    color: #14892c;
    font-weight: bold;
	/*color: #888;*/
}

table.translation-table {
    width: 100%;
    border-collapse: collapse;
}

table.translation-table > tbody > tr, table.translation-table > tfoot > tr {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #DDDDDD;
    color: #333333;
}

table.translation-table > thead > tr > th, table.translation-table > tbody > tr > th, table.translation-table > thead > tr > td, table.translation-table > tbody > tr > td, table.translation-table > tfoot > tr > td {
    padding: 7px 10px 7px 20px;
    text-align: left;
    vertical-align: top;
}

.translationrow .truncatedtranslationkey {
    color: #f00;
    cursor: default;
}

#translationerror {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #f00;
    overflow: hidden;
}

.translationrow {
    /*border-bottom: 1px solid #000;*/
    /*margin: 10px;*/
    /*margin-left: 1em;*/
}

.translationrowhidden {
    display: none;
}

#inproduct-translation-dialog .ui-icon {
    background-position: 0 0;
}

.closetranslationdialog {
    position: absolute;
    right: 10px;
    top: 10px;
    /*padding-bottom: 20px;*/
    text-align: right;
    cursor: pointer;
    width: 16px;
    min-width: 16px;
    height: 16px;
    min-height: 16px;
    z-index: 1000000;
    background-position: right;
    background-repeat: no-repeat;
}

/*.closetranslationdialog a {*/
    /*min-width: 24px;*/
    /*min-height: 24px;*/
/*}*/

.translationtableover {
    background-color: #f5f5f5 !important;
}

.locales-dropdown-wrapper {
    /*display: inline-block;*/
    display: none;
    padding-left: 1em;
}

#locales-dropdown {
    position: relative;
    top: 0;
    left: 0;
    width: 200px;
    /*height: 30px;*/
}

.rescan-message-keys-wrapper {
    display: none;
    /*display: inline-block;*/
    margin-left: 1em;
}

.translated-message-searcher-wrapper {
    /*margin-left: 1em;*/
    display: block;
    position: relative;
    /*top: 50px;*/
    left: 0;
    /*width: 340px;*/
    /*width: 100%;*/
}

#show-all-wrapper {
    display: none;
    position: absolute;
    top: 56px;
    left: 20px;
    text-align: left;
    font-size: 13px;
    font-weight: normal;
}

#delete-all-translations {
    /*display: none;*/
    position: absolute;
    top: 10px;
    right: 0;
    font-size: 13px;
    font-weight: normal;
    text-align: right;
}

.delete-all-translations-wrapper {
    margin-left: 5em;
    display: inline-block;
}

.formbox {
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    -moz-box-shadow: 0 1px 3px #DDDDDD inset;
    -webkit-box-shadow: 0 1px 3px #DDDDDD inset;
    color: #333333;
}

.formtextarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 3px #DDDDDD inset;
    -moz-box-shadow: 0 1px 3px #DDDDDD inset;
    -webkit-box-shadow: 0 1px 3px #DDDDDD inset;
    color: #333333;
    font-size: 14px;
    margin: 0;
    /*max-width: 250px;*/
    vertical-align: baseline;
    /*width: 100%;*/
}

#translated-message-searcher {
    top: 2px;
    left: 0;
    padding-left: 30px;
    padding-right: 30px;
}

#translated-message-searcher, .ipt-dialog-input {
    /*width: 220px;*/
    border: 1px solid #CCCCCC;
    height: 2.14286em;
    font-size: 14px;
    position: relative;
    /*width: 100%;*/
    /*margin-right: 120px;*/
}

.translated-message-searcher-initial {
    color: #707070;
    /*font-style: italic;*/
}

.translated-message-searcher-close {
    position: absolute;
    right: 0;
    top: 12px;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    /*background-color: #fff;*/
    background-position: 0 0;
    background-repeat: no-repeat;
    cursor: pointer;
}

.translated-message-searcher-mag {
    position: absolute;
    left: 8px;
    top: 12px;
    height: 16px;
    width: 16px;
    min-height: 16px;
    min-width: 16px;
    /*background-color: #fff;*/
    background-position: 0 0;
    background-repeat: no-repeat;
    z-index: 1;
    cursor: default;
    /*cursor: pointer;*/
}

#rescan-message-keys {
}

.translatepopup {
    position: absolute;
    z-index: 100001;
    top: 0;
    left: 0;
    /*width: 80px;*/
    /*height: 30px;*/
    padding: 5px;
    /*line-height: 100px;*/
    background-color: #F5f5f5;
    /*border: solid 1px #cccccc;*/
    text-align: center;
    cursor: pointer;
    display: none;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

.translatepopupselected {
    /*background-color: #F7DF92;*/
}

.translatepopupids {
    display: none;
}

#submittranslation {
	display: none;
}

.analytics-warning {
    display: block;
    position: absolute;
    right: 40px;
    bottom:24px;
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
    cursor: pointer;
    margin-right: 4px;
    background-repeat: no-repeat;
}

.deletetranslation {
    /*text-decoration: underline;*/
    /*cursor: pointer;*/
    /*padding-right: 10px;*/
}

.arrow_box_top {
    /*position: relative;*/
    background: #f5f5f5;
    border: 1px solid #bbb;
}

.arrow_box_top:after, .arrow_box_top:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_top:after {
    border-color: rgba(245, 245, 245, 0);
    border-bottom-color: #f5f5f5;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.arrow_box_top:before {
    border-color: rgba(187, 187, 187, 0);
    border-bottom-color: #bbb;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

.arrow_box_bottom {
    /*position: relative;*/
    background: #f5f5f5;
    border: 1px solid #bbb;
}

.arrow_box_bottom:after, .arrow_box_bottom:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box_bottom:after {
    border-color: rgba(245, 245, 245, 0);
    border-top-color: #f5f5f5;
    border-width: 10px;
    left: 50%;
    margin-left: -10px;
}

.arrow_box_bottom:before {
    border-color: rgba(187, 187, 187, 0);
    border-top-color: #bbb;
    border-width: 11px;
    left: 50%;
    margin-left: -11px;
}

.translate-div-hidden {
    display: none !important;
}

#ipt-cogmenu {
    z-index: 1000001;
    position: absolute;
    bottom: 20px;
    right: 14px;
    width: 30px;
    text-align: right;
}

#ipt-cog {
    /*display: inline-block;*/
    display: block;
    min-width: 32px;
    min-height: 16px;
    width: 32px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: left center;
    /*background-color: #f00;*/
}

.ipt-noicon {
    background-image: none !important;
}

.ipt-dropdown {
    background-color: #FFFFFF !important;
    border: 1px solid #DDDDDD !important;
    border-bottom-left-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2) !important;
    text-align: left;
    font-size: 14px;
    min-width: 180px;
}

.ipt-dropdownmenu {
    text-decoration: none !important;
    background-color: #fff;
    color: #333 !important;
    display: block;
    padding: 3px 10px;
    text-align: left;
}

.ipt-dropdownmenu:hover {
    background-color: #3B73AF !important;
    color: #fff !important;
}

.translatedelementover {
    background-color: #f3fcf5 !important;
    outline: 1px solid #d1e9d6 !important;
    color: #333 !important;
}

.ipt-dialog-label {
    text-align: right;
    width: 150px;
    position: absolute;
    height: 2.14286em;
    line-height: 2.14286em;
}

.ipt-dialog-entry {
    position: relative;
    margin-top: 5px;
    margin-left: 160px;
}

.ipt-dialog-input {
    padding-left: 5px;
    padding-right: 5px;
}

#ipt-glass {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #fff;
    opacity: 0.01;
    z-index: 99999;
    display: none;
}

